:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg-primary: #1e1e1e;
  --bg-secondary: #262626;
  --text-primary: #fff;
  --blank-filler: linear-gradient(
    90deg,
    #3c3c3c 0%,
    #444444 51.04%,
    #333333 100%
  );

  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.borders {
  border-radius: 12px;
  border-width: 1px;
  border-color: #4d4d4d;
  border-style: solid;
}
